
* {
    font-family: Helvetica, Arial, sans-serif;
    background-color: rgb(74, 74, 76);
}

body {
    margin: 0%;
}

main {
    margin: 0% 5%;
}

h1 {
    text-align: center;
    color: rgb(123, 202, 242);
    margin: 2% 12.5%;
    padding: 2%;
    border: 0.1em solid rgb(123, 202, 242);
    border-radius: 50%;
    font-size: calc(1em + 1vw);
}

h2, h3, h4 {
    font-size: calc(0.75em + 1vw);
    color: rgb(123, 202, 242);
    text-align: center;
}

.navbar ul {
    font-size: calc(0.75em + 1vw);
    list-style-type: none;
    padding: 0%;
    margin: 0%;
    overflow: hidden;
    display: flex;
}

.navbar a {
    color: rgb(123, 202, 242);
    background-color: rgb(104, 103, 103);
    font-weight: bold;
    text-decoration: none;
    padding: 1em 0.85em;
    display: block;
    text-align: center;
}

.navbar a:hover {
    background-color: rgb(26, 26, 26);
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
}

.navbar li {
    flex-grow: 1;
}

#active-nav-section {
    border-bottom: 0.5em solid rgb(123, 202, 242);
}


.dropdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.dropdown button {
    background-color: hsl(0, 0%, 25%);
    color: rgb(123, 202, 242);
    font-size: calc(0.5em + 1vw);
    font-weight: bold;
    margin: 1em;
    padding: 0.75em 1.5em;
    border: 0.125em solid rgb(123, 202, 242);
    border-radius: 0.5em;
}

.dropdown a {
    display: block;
    color: rgb(123, 202, 242);
    font-size: calc(0.75em + 1vw);
    font-weight: bold;
    text-decoration: none;
    padding: 0.5em 0.5em;
}

.dropdown .content {
    display: none;
    position: absolute;
    top: 85%;
    box-shadow: 3px 3px 5px rgb(123, 202, 242);
    margin: 0em 0.9em 0.5em;
}

.dropdown:hover .content {
    display: block;
}

.dropdown:hover button {
    background-color: rgb(97, 97, 97);
}

.dropdown a:hover {
    background-color: rgb(97, 97, 97);
}

#hero-band-photo {
    display: block;
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
}

#intro-text {
    text-align: center
}

.band-member-name-top {
    color: rgb(123, 202, 242);
    font-weight: bold;
}

#a-ha-fig-align-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#a-ha-video {
    max-width: 90vw;
    border-radius: 5%;
}

a {
    text-decoration: none;
}

a,
a:visited {
    color: rgb(123, 202, 242);
    font-weight: bold;
}

p {
    font-size: calc(0.75em + 1vw);
    color: aliceblue;
    line-height: 1.5em;
    text-align: justify;
}

.text-align-center {
    font-size: calc(0.75em + 1vw);
    text-align: center;
}

.main-section-media {
    display: block;
    max-width: 75%;
    border-radius: 5%;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    font-size: calc(0.75em + 1vw);
    font-weight: bold;
    margin-top: 1%;
    text-align: center;
    color: tomato;
}

#take-on-me-youtube-link {
    color: tomato;
}

.singer-description {
    text-align: center;
}

.band-member-img {
    display: block;
    max-width: 50%;
    border-radius: 12.5%;
    margin-left: auto;
    margin-right: auto;
}

.singer-description {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#world-tour-ol {
    line-height: 1.5em;
}

#world-tour-ol li {
    font-size: calc(0.75em + 1vw);
    color: aliceblue;
    margin-bottom: calc(1em + 1vw);
    font-weight: bold;
}

.world-tour-li-year-highlight {
    color: rgb(123, 202, 242);
}

.world-tour-li-list-style-none {
    list-style: none;
}

.gallery {
    min-width: 75%;
    max-width: 95%;
    border-radius: 7.5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#feedback-form {
    width: 75%;
    margin: 0 auto;
}

.feedback-form-label-styling {
    text-align: center;
    color: tomato;
    font-weight: bold;
    display: block;
}

.input-styles {
    font-size: calc(0.75em + 1vw);
    color: tomato;
    font-weight: bold;
    background-color: aliceblue;
}

.feedback-form-option-styling {
    color: tomato;
    font-weight: bold;
    background-color: bisque;
}

#feedback-options {
    background-color: aliceblue;
    width: 100%;
}

input[type="text"], input[type="email"], textarea, input[type="file"] {
    width: 100%;
}

footer {
    margin: calc(1em + 1vw);
    text-align: center;
}

footer a {
    color: rgb(123, 202, 242);
    text-decoration: none;
}

.contact-section-text {
    font-size: calc(0.5em + 1vw);
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

.footer-section-styling-author {
    font-size: calc(0.5em + 1vw);
    font-weight: bold;
    color: rgb(123, 202, 242);
}


@media only screen and (max-width: 363px) {
    .navbar ul {
        font-size: calc(0.5em + 1vw);
    }

    footer {
        font-size: calc(0.75em + 1vw);
        margin: calc(1em + 1vw);
        text-align: center;
    }
    
    footer a {
        color: rgb(123, 202, 242);
        text-decoration: none;
    }
    
    .contact-section-text {
        font-size: calc(0.75em + 1vw);
        font-weight: bold;
        text-align: center;
        text-decoration: none;
    }

    .text-align-center {
        font-size: calc(0.75em + 1vw);
    }
    
    .footer-section-styling-author {
        font-size: calc(0.75em + 1vw);
        font-weight: bold;
        color: rgb(123, 202, 242);
    }
}